* {
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
body, html {
    background-color: #e8e9ed;
    padding: 0;
    margin: 0;
}
.success-booking{
    color: #20C997;
}
.menu {
    display: flex;
    flex-direction: row;
    background-color: #EB0F14;
    margin: 0;
    padding: 15px;
}
.menu a {
    color: black;
    text-decoration: none;
}
.menu li {
    width: auto;
    margin: 0 15px 0 15px;
    text-decoration: none;
    list-style: none;
}

#search_render {
    background-color: green;
}
.search_submit:after {
    content: '\f002';
    color: red;
    height: 50px;
    width: 50px;
}

.search_err {
    background-color: #DA4C4B;
    padding: 5px;
    position: relative;
    top: 12px;
    color: white;
    box-shadow: 1px 0px 1px #00000017;
}

.container {
    padding: 20px;
}

/* LISTING MOVIES */
.movies, .sessions, .sessions_old {
    display: flex;
}
.movie, .session {
    margin: 5px 15px 5px 15px;
}
.session {
    border: 1px solid #bdbdbd;
    padding: 0px 9px 9px 9px;
    border-radius: 2px;
}
.delete {
    color: #E96769 !important;
}
input#search {
    border: 1px solid #989898;
    border-radius: 8px;
}
.movie__button {
    background-color: #ed445d;
    color: white !important;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    font-weight: 500;
}