* {
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
body, html {
    padding: 0;
    margin: 0;
}
.success-booking{
    color: #20C997;
}
.menu {
    display: flex;
    flex-direction: row;
    background-color: #EB0F14;
    margin: 0;
    padding: 15px;
}
.menu li {
    width: auto;
    margin: 0 15px 0 15px;
    text-decoration: none;
    list-style: none;
}

#search_render {
    background-color: green;
}

.container {
    padding: 5px;
}

/* LISTING MOVIES */
.movies, .sessions {
    display: flex;
}
.movie, .session {
    margin: 5px 15px 5px 15px;
}
.session {
    border: 1px solid #bdbdbd;
    padding: 0px 9px 9px 9px;
    border-radius: 2px;
}
.delete {
    color: #E96769 !important;
}